
body {
   height: 100%;
   overflow-y: hidden;
	 background-color: black;
	 margin: 0;
	 padding: 0;
}

#bkg {
	position: relative;
	top: 0;
	width: 75vh;
	height: 100vh;
	border-left: 1vh solid rgb(231,231,231);
	border-right: 1vh solid rgb(231,231,231);
}

#polka {
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	background-image: url("./static/bkgs/polka.png");
	background-repeat: repeat;
}


#main {
	text-align: center;
	position: relative;
	line-height: 3vh;
	top: -85vh;
}

a {
	text-decoration-line: none;
	font-family: "Font2";
}

h1 {
	font-family: "Font";
	font-size: 7vh;
	margin: 3vh;
	line-height: 5vh;
	color: lightpink;
}

#logos, #home {
	position: relative;
	top: 40vh;
	left: -35vh;
}

#home {
	top: 44vh;
}

.logo {
	width: 3.5vh;
	height: 3.5vh;
}

#sites, #tutorials {
	position: relative;
	top: 5vh;
	left: 15vh;
}

.site, p, a {
	color: lightpink;
	font-family: "Font2";
	font-size: 3vh;
}

p { 
	color: rgb(231,231,231);
}

.site:hover, a:hover {
	text-shadow: 2px 2px 5px white;
	color: rgb(255, 166, 179);
}

@font-face {
	font-family: Font;
	src: url(./static/fonts/e.ttf) format("opentype");
}

@font-face {
	font-family: Font2;
	src: url(./static/fonts/c.ttf) format("opentype");
}