<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>CutePixel Editor</title>
	<link href="style.css" rel="stylesheet" type="text/css">
</head>
<body>
	<img src="bunnunu.png" id="bunnunu">
	<img src="fox.png" id="fox">
	<img src="deadbun.png" id="deadbun">
	<img src="grass.png" id="grass">
	<div id="game">
		<div id="score">
			Score: 
		</div>
	</div>
	<button id="restart" class="hide-button">Restart?</button>
	<script type="text/javascript" src="v.js"></script>
	<script type="text/javascript" src="r.js"></script>
	<script type="text/javascript" src="cute.js"></script>
	<script type="text/javascript" src="script.js"></script>
</body>
</html>
