<html>
	<head>
		<meta charset="utf-8">
		<title>KGB Pen Pal Connection</title>
		<link href="/home/hanny/Desktop/programs/website/banubot/static/kgb/stylepen.css" rel="stylesheet">
	</head>

	<body>
		
		<img class="banner" width="1300" height="400" src="/home/hanny/Desktop/programs/website/banubot/static/kgb/banner.jpg"/>

		<h1 id="klub">Клуб Гостеприимных Болтунов</h1>
		<h2 id="welcome">Угол Книголюбов</h2>
	    <h2 id=chekhov>These Russians are eager to meet you, so send them a message!</h2> 		
		<table style="width:100%">
		  <tr>
			<th>Pic</th>
			<th>Name</th>
			<th>About</th>
			<th>Contact Info<th>
		  </tr>
		  <tr>
			<td><img width="250" height="250" src="/home/hanny/Desktop/programs/website/banubot/static/kgb/goose.jpg"</td>
			<td>Alex Paradise<br/>Алекс Гусев</td>
			<td width="500">Hey, what’s up players. My name is Alex. I am 23 year-old English teacher in Moscow. I’d love to talk with some of the American students from UofA and answer all your questions about Russia or anything else. I am really talkative and easy-going. Feel free to email me or add me on FB.
Btw, I’ve been to Tucson a few times and I have lots of friends on UofA campus. Some of you guys could have even seen me at Russian classes while in Arozona when my friends took me there for fun 🙂
Looking forward to hearing from you little motherfuckers! 🙂</td>
			<td>alex.gusev993@gmail.com <br/><a href="https:/www.facebook.com/alex.gusev.391" target="_blank">My Facebook</a> <br/> <a href="https://vk.com/alexgusev1993" target="_blank">Мой ВКонтакте</a></td>
		  </tr>
		</table> 
		
		<h4>Хотите дальше? Send pdfs/requests to hannahparraga@email.arizona.edu</h2>
	</body>





</html>
