#newCards { 
	visibility: hidden;
}

#cardText {
	text-align: center;
	background: white;
	border: 1px solid;
	position: absolute;
	width: 500px;
	height: 200px;
	padding-top: 150px;
	opacity: 0.9;
	transform: translate(-50%, -50%);
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	top: 300px;
	left: 50%;
}

#getDeck {
	top: 400px; 
	position: relative;
	font-size: 20px;
}
	
#deckName {
	opacity: 0.9;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	display: inline-table;
	margin: 10px;
	padding: 10px;
	background-color: #E5EEF3;
	border-radius: 50px;

}


button {
	font-family: "Font", serif;
	background-color: #334920;
	border-radius: 5px;
	border: 1px solid white;
	color : white;
	padding: 12px;
	text-align: center;
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
#flip {
	border-radius: 50px;
	background-color: white;
	border: 1px solid #334920;
	color: #334920;
	margin-bottom: 10px;
	position: relative;
	left: -6px;
}

button:hover, #flip:hover {
	color: gold;
	background-color: #E5EEF3;
	border: 1px solid gold;
}

#positionIndex {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	color: #334920;
	background-color: white;
	border-radius: 100%;
	padding: 4px;
}

body {
	background: url(bkgnd.jpeg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	font-family: "Font", serif;
}
@font-face {
    font-family: Font;
    src: url("a.ttf") format("opentype");
}
a {
	color: black;
	text-decoration: none;
}
