#bkg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
    height: 100vh;
    z-index: -1;
}

@font-face {
	font-family: Font;
	src: url(../../static/fonts/a.ttf) format("opentype");
}

p, a, h1, li, h2, i {	 
    font-family: Font;
    color: aliceblue;
}