#tag {
	position: relative;
	left: -20px;
	top: -585px;
	text-align: center;
	text-shadow: #CE5246;
	color: lightcoral;
	top: px;
	font-size: 18px;
}

#links {
	width: 600px;
}

button {
	margin: 5px 5px;
	position: relative;
    background-color: lightcoral;
    border-radius: 4px;
	border: 1px solid white;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: table-column;
    font-size: 16px;
	-webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

button:hover {
	color: gold;
	background-color: #395B80;
}

h3,h4 {
	position: relative;
	text-align: center;
	color: white;
	font-size: 20px;
	margin: 0 auto;
	top: 480px;
}

h4 {
	top: 1350px;
	height: 50px;
}

#player {
	position: relative;
	margin: 0 auto;
	left: 150px;
	top: 550px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.guitar,.cheb,.sergei {
	position: relative;
	left: 750px;
	top: 800px;
	opacity: 0.9;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.cheb {
	top: 1000px;
}

.sergei {
	top: 1740px;
	left: 245px;
}

.banner {
		opacity: 0.9;
		position: absolute;
		width: %100;
		box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

h1 { 
	position: absolute;
	top: 120px;
	left: 50px;
	color: gold;
	opacity: 0.9;
	font-size: 65px;
}

h2 {
	position: absolute;
	color: white;
	top: 230px;
	left: 600px;
}

html {
	background: url(hammersickle.png);
	background-repeat: repeat;
}

#mus {
	top: 230px;
}

.music {
	top: -150px; 
}

#tv {
	top: 930px;
}
.tv {
	top: 280px;
}
#mov {
	top: 1640px;
}
.movie {
	top: 900px;
}
