button {
	font-family: "Font", serif;
	background-color: #334920;
	border-radius: 5px;
	border: 1px solid white;
	color : white;
	padding: 12px;
	text-align: center;
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	display: inline-block;
}

.flashbod {
	background: url("../../static/flashBkg.jpeg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	font-family: "Font", serif;
}

img {
	width: 25px;
	height: 25px;
}

.deckName {
	display: inline-block;
}

.flip {
	border-radius: 50px;
	background-color: white;
	border: 1px solid #334920;
	color: #334920;
	margin-bottom: 10px;
	position: relative;
	left: -6px;
}

button:hover, #flip:hover {
	color: lightblue;
	background-color: #E5EEF3;
	border: 1px solid lightblue; 
}

.pos {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	color: #334920;
	background-color: white;
	border-radius: 100%;
	margin: 4px;
	padding: 4px;
	display: inline-block;
}

.cardText {
	text-align: center;
	background: white;
	border: 1px solid;
	width: 75%;
	padding-top: 20%;
	padding-bottom: 20%;
	margin: 20px;
	opacity: 0.9;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.save {

	transform: translate(-50%, -50%);
	position: absolute;
	left: 50%;
	top: 300px;
}
.deck {
	opacity: 0.9;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	display: inline-table;
	margin: 10px;
	padding: 10px;
	background-color: #E5EEF3;
	border-radius: 50px;
}

.deck:hover {
	background-color: white;
}

@font-face {
    font-family: Font;
    src: url("../../static/a.ttf") format("opentype");
}
