#mainbod {	background: url(../../static/backgrounds/bkgrd.jpeg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#main {
	position: absolute;
	top: 50%;
	left: 50%;
	text-align: center;
	border-radius: 100%;
	background-color: #D1FB94;
	opacity: 0.8;
	padding: 50px;
	font-family: "Links";
	transform: translate(-50%, -50%);
}

h1 {
	font-family: "Title";
	margin-bottom: 5px;
	font-size: 50px;
}

img {
	margin-top: 5px;
}

@font-face {
    font-family: Title;
    src: url("../../static/fonts/b.ttf") format("opentype");
}

@font-face {
    font-family: Links;
    src: url("../../static/fonts/c.ttf") format("opentype");
}
