.poembod {
	background: url("../../static/backgrounds/poemBkg.jpg") repeat;
}

.authors, .text {
	border-radius: 4px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	margin-top: 10px;
}

.text {
	background: #FDF9D6;
	opacity: 0.8;
	font-family: "Para";
	max-width: 259px;
	padding: 10px;
}

#poemsTitle {
	font-family: "PoemsTitle";
	font-size: 70px;
	color: tan;
}

.row {
  display: flex;
  flex: wrap;
  padding: 0 4px;
  justify-content: center;
}

.column {
  flex: 33%;
  padding: 0 4px;
}

@font-face {
    font-family: Para;
    src: url("../../static/fonts/e.ttf") format("opentype");
}

@font-face {
    font-family: PoemsTitle;
    src: url("../../static/fonts/d.ttf") format("opentype");
}

