#row {
  display: flex;
  flex: wrap;
  padding: 0 4px;
  justify-content: center;
}

#column {
  flex: 33%;
  padding: 0 4px;
}

#column img, #column p {
  margin-top: 10px;
}

img, p {
	border-radius: 4px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

p {
	background: #FDF9D6;
	opacity: 0.8;
	font-family: "Para";
	padding: 10px;
	max-width: 259px;
}

h1 {
	font-family: "Title";
	font-size: 70px;
	color: tan;
	/*text-shadow:  3px 3px rgba(0,0,0,0.2);*/
}

@font-face {
    font-family: Para;
    src: url("f.ttf") format("opentype");
}

@font-face {
    font-family: Title;
    src: url("d.ttf") format("opentype");
}

